.left{
    float: left;
    width: 25%;
    background-color:darkslategray;
    color: aliceblue;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.left,p{
    font-size: large;
    margin-top: -20px;
}

.c{
    margin-left: -18px;
}

.b{
    font-family: 'Exo 2', sans-serif;
}

a{
    text-indent: 10px;
}
.left,hr{
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:2ch;
    border-radius: 140px;
  }

.underlinecenter{
    text-decoration: underline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-left: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.underline{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.isim{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 25px;
}
.margin{
    margin-left: 50px;
    
}

.margini{
    margin-left: 140px;
}

.text{
    text-indent:25px ;
    margin-left: 50px;
    letter-spacing: 1.5px;
    line-height: 30px;
}


.right{
    float:right;
    width: 75%;
    margin-top: -2250px;
}

